# Server configuration
# Railway will automatically set PORT, you don't need to configure it
PORT=3000

# MySQL connection (Railway public URL)
DATABASE_URL=mysql://root:BGaPDfYxAdVvTSHdlCMpdBsToliLcYuz@maglev.proxy.rlwy.net:41134/railway
DATABASE_RPG_URL=mysql://root:ZLhXIyVqiqkiEIHsdDgqIRNSAAiudhQZ@acela.proxy.rlwy.net:38594/railway